        /* Global Styles */
        body{
          margin: 0;
          padding: 0; 
          
          }
          
          h2, h4, p, ul {
          margin: 0;
          padding: 0;  
          }
          
          /* Container for Sidebar and Main Content */
          .container {
          display: flex;
          height: 100%; /* Full height */
          margin-left: 290px; /* Account for the sidebar width */
          }
          
          /* Sidebar Styles */
          .sidebar {
          position: fixed;  /* Make the sidebar fixed */
          top: 0;           /* Align it to the top of the page */
          left: 0;          /* Align it to the left of the page */
          width: 250px;     /* Set the sidebar width */
          height: 100%;     /* Make it take the full height */
          background-color: #343a40;
          color: #fff;
          padding: 20px;
          display: flex;
          flex-direction: column;
          align-items: left;
          z-index: 100;     /* Ensure the sidebar stays on top of the content */
          }
          
          .sidebar h4 {
          font-size: 26px;
          color: #ffc107; 
          margin-bottom: 20px;
          text-align: center;
          }
          
          .nav ul {
          list-style: none; 
          width: 100%;
          text-align: left;
          padding: 0;
          }
          
          .nav ul li {
          margin-bottom: 20px;
          }
          
          .nav ul li a {
          text-decoration: none; 
          color: #adb5bd; 
          font-size: 16px;
          display: block;
          padding: 10px;
          border-radius: 5px;
          transition: background-color 0.3s;
          }
          
          .nav ul li a:hover {
          background-color: #495057;
          color: #fff; 
          }
          
          .logo {
          width: 100%; 
          max-width: 210px; 
          margin-bottom: 20px; 
          display: block; 
          margin-left: auto; 
          margin-right: auto; 
          border-radius: 110px;
          border: 3px solid transparent;
          box-shadow: 0 0 15px 5px rgba(0, 128, 128, 0.7);
          }
          
          /* Main Content Styles */
          .main-content {
          flex: 1;
          padding: 20px;
          }
          
          .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 2px solid #dee2e6;
          padding: 10px 0; /* Add padding for spacing */
          margin-bottom: 20px; /* Adjust margin for more space below header */
          gap: 20px;
          }
          
          .header h1 {
          color: #36454F;
          font-size: 28px;
          margin: 0; /* Remove default margin */
          }
          
          /* Header Content Styles */
          .header-content {
          display: flex;
          align-items: center;
          gap: 20px;
          }
          
          /* Profile Bar Styles */
          .profile-bar {
          display: flex; 
          align-items: center; 
          gap: 10px;
          border-left: 1px solid #ced4da; 
          padding-left: 20px; 
          cursor: pointer;
          }
          
          /* Profile Picture and Info */
          .profile-picture {
          width: 40px; 
          height: 40px;
          border-radius: 50%; 
          }
          
          .profile-info {
          text-align: left; 
          }
          
          .profile-name {
          font-size: 16px; 
          margin: 0; 
          color: #333;
          }
          
          .profile-role {
          font-size: 12px;
          color: #6c757d;
          }
          
          /* Dropdown Styles */
          .profile-dropdown {
          display: none; /* Initially hidden */
          position: absolute; 
          top: 60px; /* Adjust the position to show below the profile */
          right: 20px;
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          width: 150px;
          }
          
          .profile-dropdown a {
          list-style: none;
          margin: 0;
          padding: 0;
          }
          
          .profile-dropdown a {
          border-bottom: 1px solid #ccc;
          }
          
          .profile-dropdown a {
          text-decoration: none;
          color: #333;
          display: block;
          padding: 10px;
          }
          
          .profile-dropdown a:hover {
          background-color: #f1f1f1;
          }
          
          /* Show dropdown when active */
          .profile-dropdown.show {
          display: block;
          }
          
          /* Typography */
          h1 {
          color: #030303;
          font-family: 'Times New Roman', Times, serif;
          font-size: 24px;
          margin-bottom: 20px;
          }
          
          label {
          font-weight: bold;
          margin-bottom: 10px;
          display: block;
          font-size: 16px;
          }
          
          /* Form */
          .form-container-wrapper {
          border: 2px solid #6c757d;
          padding: 20px;
          border-radius: 8px;
          background-color: #f8f9fa;
          margin-bottom: 20px;
          width: 1163px; /* Increase width for a wider form */
          
          }
          
          .form-grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
          align-items: center;
          }
          
          .form-item {
          display: flex;
          flex-direction: column;
          }
          
          input[type="date"] {
          width: 96%;
          padding: 10px;
          margin-bottom: 20px;
          border: 1px solid #ced4da;
          border-radius: 4px;
          font-size: 16px;
          background-color: #fff;
          color: #333;
          }
          
          /* Dropdown */
          select {
          width: 100%;
          padding: 10px;
          margin-bottom: 20px;
          border: 1px solid #ced4da;
          border-radius: 4px;
          font-size: 16px;
          background-color: #fff;
          color: #333;
          }
          
          select:focus {
          outline: none;
          border-color: #6c757d;
          }
          
          /* Buttons */
          .buttons-container {
          display: flex;
          justify-content: flex-end;
          gap: 5px;
          margin-top: 10px;
          }
          
          button {
          background-color: #708090;
          color: #fff;
          padding: 8px 12px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 14px;
          width: auto;
          }
          
          button:hover {
          background-color: #899499;
          }
          
          .form-item button {
          width: 100%;
          padding: 10px;
          font-size: 16px;
          margin-top: 10px;
          }
          
          /* Table */
          table {
          width: 100%;
          border-collapse: collapse;
          margin-top: 20px;
          }
          
          th, td {
          border: 1px solid #ced4da;
          padding: 12px;
          text-align: left;
          font-size: 14px;
          }
          
          th {
          background-color: #708090;
          font-weight: bold;
          color: #fff;
          }
          
          td select {
          width: 100%;
          padding: 5px;
          font-size: 14px;
          border: 1px solid #ced4da;
          border-radius: 4px;
          background-color: #fff;
          }
          
          tr:hover {
          background-color: #f1f1f1;
          }
          
          /* Responsive */
          @media (max-width: 768px) {
          .form-container {
          flex-direction: column;
          }
          
          button {
          width: 100%;
          margin-top: 10px;
          }
          }
      
      
          
                              .example-box {
          background-image: linear-gradient(to bottom right, #cbcccc, #8ba0a9);
          width: 100%;
          height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          overflow: hidden;
          background-size: cover;
          z-index: 1;
        }
        
        .example-box * {
          z-index: 2;
        }
        
        .background-shapes {
          content: "";
          position: absolute;
          z-index: 2;
          left: 0;
          top: 0;
          width: 100%;
          height: 5076px;
          background-size: 100%;
          animation: 120s infiniteScroll linear infinite;
          background-image: url(https://cdn2.hubspot.net/hubfs/53/Pricing%202017%20Assets/marketing/Header_Circles-1.svg);
        }
        
        @-webkit-keyframes infiniteScroll {
          0% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
          }
        
          100% {
            -webkit-transform: translate3d(0, -1692px, 0);
            transform: translate3d(0, -1692px, 0);
          }
        }
        
        @keyframes infiniteScroll {
          0% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
          }
        
          100% {
            -webkit-transform: translate3d(0, -1692px, 0);
            transform: translate3d(0, -1692px, 0);
          }
        }